AppWPF/bin/
AppWPF/obj/
ForTest/bin/
ForTest/obj/
Parent-ChildApp/bin/
Parent-ChildApp/obj/
*.suo
AppWpfWithMdi/bin/
AppWpfWithMdi/obj/
ConvertBmpToPng/bin/
ConvertBmpToPng/obj/
AppForDependencyProperty/bin/
AppForDependencyProperty/obj/
CheckForSepik/bin/
CheckForSepik/obj/
AppForEventHandler/bin/
AppForEventHandler/obj/
